<?xml version="1.0"?>
<config>
    <modules>
        <N98_ApiLogger>
            <version>1.0.0</version>
        </N98_ApiLogger>
    </modules>
    <global>
        <helpers>
            <n98_apilogger>
                <class>N98_ApiLogger_Helper</class>
            </n98_apilogger>
        </helpers>
        <models>
            <n98_apilogger>
                <class>N98_ApiLogger_Model</class>
                <resourceModel>n98_apilogger_resource</resourceModel>
            </n98_apilogger>
            <n98_apilogger_resource>
                <class>N98_ApiLogger_Model_Resource</class>
                <entities>
                    <log>
                        <table>n98_apilogger_log</table>
                    </log>
                </entities>
            </n98_apilogger_resource>
        </models>
        <resources>
            <n98_apilogger_setup>
                <setup>
                    <module>N98_ApiLogger</module>
                </setup>
            </n98_apilogger_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <!-- SOAP -->
            <controller_action_predispatch_api_soap_index>
                <observers>
                    <n98_apilogger>
                        <class>n98_apilogger/observer</class>
                        <method>controllerActionPredispatchApiSoapIndex</method>
                    </n98_apilogger>
                </observers>
            </controller_action_predispatch_api_soap_index>
            <controller_action_postdispatch_api_soap_index>
                <observers>
                    <n98_apilogger>
                        <class>n98_apilogger/observer</class>
                        <method>controllerActionPostdispatchApiSoapIndex</method>
                    </n98_apilogger>
                </observers>
            </controller_action_postdispatch_api_soap_index>

            <!-- SOAP V2 -->
            <controller_action_predispatch_api_v2_soap_index>
                <observers>
                    <n98_apilogger>
                        <class>n98_apilogger/observer</class>
                        <method>controllerActionPredispatchApiV2SoapIndex</method>
                    </n98_apilogger>
                </observers>
            </controller_action_predispatch_api_v2_soap_index>
            <controller_action_postdispatch_api_v2_soap_index>
                <observers>
                    <n98_apilogger>
                        <class>n98_apilogger/observer</class>
                        <method>controllerActionPostdispatchApiV2SoapIndex</method>
                    </n98_apilogger>
                </observers>
            </controller_action_postdispatch_api_v2_soap_index>
        </events>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <N98_ApiLogger />
            </modules>
        </suite>
    </phpunit>
</config>